body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza os itens verticalmente */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 10px; /* Adiciona um pouco de espaço em volta de cada item */
}

nav img {
    height: 30px; /* Define a altura da imagem */
    vertical-align: middle; /* Alinha a imagem verticalmente com o texto */
}

.search-container {
    display: flex;
    flex: 1;
}

.search-input {
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
    padding: 10px;
    border: 1px solid #ccc;
}

.search-button {
    margin-left: 50px;
}

.grid-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    background-color: blueviolet;
}

.card {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center;
}